<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="AppConfiguration" type="SCJMapper_V2.AppConfiguration, SCJMapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <!-- This is the minimal change that detects a movement of an axis (Joystick, Gamepad, Mouse)
       default are 150,500,150 - you may change it to get the detection less sensitive
       enter a locale for culture e.g. en to use the english texts (en, de or fr are supported) -->
  <AppConfiguration jsSenseLimit="150" gpSenseLimit="500" msSenseLimit="150" culture=""/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
