<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="AppConfiguration" type="SCJMapper_V2.AppConfiguration, SCJMapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <!-- This is the minimal change that detects a movement of an axis (Joystick, Gamepad, Mouse)
       default are 150,500,150 - you may change it to get the detection less sensitive -->
  <AppConfiguration jsSenseLimit="150" gpSenseLimit="500" msSenseLimit="150" scActionmaps="default, multiplayer, singleplayer
                    ,invite, player, player_choice, prone, flycam, vehicle_general, vehicle_driver, vehicle_gunner
                    ,spaceship_general, spaceship_view, spaceship_movement, spaceship_targeting, spaceship_turret, spaceship_weapons, spaceship_missiles
                    ,spaceship_defensive, spaceship_auto_weapons, spaceship_power, spaceship_radar, spaceship_hud, zero_gravity_general, zero_gravity_eva, IFCS_controls"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
