<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="AppConfiguration"
            type="SCJMapper_V2.AppConfiguration, SCJMapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <!-- This is the minimal change that detects a movement of an axis 
       default is 150 - you may change it to get the detection less sensitive -->
  <AppConfiguration jsSenseLimit="150"
                    scAcionmaps="multiplayer,
                               singleplayer,
                               player,
                               flycam,
                               vehicle_driver,
                               spaceship_general,
                               spaceship_view,
                               spaceship_movement,
                               spaceship_targeting,
                               spaceship_turret,
                               spaceship_weapons,
                               spaceship_missiles,
                               spaceship_defensive,
                               spaceship_auto_weapons,
                               spaceship_radar,
                               spaceship_hud,
                               IFCS_controls"/>
</configuration>
